
name: Build iOS UE.5.0

on:
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**/README.md'
      - '**/gitignore'
  workflow_dispatch:

jobs:
  build-ios-50:
    runs-on: [ self-hosted, macOS, ARM64, m1-1317 ]
    steps:
    - uses: actions/checkout@v2
    - name: git-update-dependecies
      run: git submodule update --init --recursive
    - name: Find NDK SHA
      run: |
        INWORLD_NDK_SHA=$(git submodule status | cut -d " " -f 2)
        echo $INWORLD_NDK_SHA
        echo "INWORLD_NDK_SHA=$INWORLD_NDK_SHA" >> $GITHUB_ENV
    - uses: actions/cache/restore@v3
      id: ndk-cache
      with:
        path: InworldAI/inworld-ndk/build/Package
        key: ${{ runner.OS }}-ndk-cache-iOS-${{ env.INWORLD_NDK_SHA }}
    - name: Build NDK
      shell: bash
      if: steps.ndk-cache.outputs.cache-hit != 'true'
      run: |
        python3 "InworldAI/Source/ThirdParty/Inworld/dev-tools/ndk-util.py" --platform=iOS --clean --build
    - uses: actions/cache/save@v3
      if: steps.ndk-cache.outputs.cache-hit != 'true'
      with:
        path: InworldAI/inworld-ndk/build/Package
        key: ${{ runner.OS }}-ndk-cache-iOS-${{ env.INWORLD_NDK_SHA }}
    - name: Copy NDK
      run: |
        python3 "InworldAI/Source/ThirdParty/Inworld/dev-tools/ndk-util.py" --platform=iOS --copy
    - run: mkdir -p TestInworldFPS 
    - uses: actions/checkout@v2
      with:
        ref: 'TestInworldFPS'
        path: 'TestInworldFPS'
    - name: Copy Plugins & Remove Assets
      shell: bash
      run: |
          rm -rf "InworldAI/Content"
          rm -rf "TestInworldFPS/TestInworldFPS/Plugins/InworldAI"
          rm -rf "TestInworldFPS/TestInworldFPS/Plugins/InworldMetahuman"
          rm -rf "TestInworldFPS/TestInworldFPS/Plugins/InworldReadyPlayerMe"
          mkdir "TestInworldFPS/TestInworldFPS/Plugins"
          cp -r "InworldAI" "TestInworldFPS/TestInworldFPS/Plugins"
          cp -r "InworldMetahuman" "TestInworldFPS/TestInworldFPS/Plugins"
          cp -r "InworldReadyPlayerMe" "TestInworldFPS/TestInworldFPS/Plugins"
    - name: BuildGame-ios-50
      shell: bash
      run: |
          sudo xcode-select -s /Applications/Xcode.app/Contents/Developer
          sh build-scripts/ios-build-game.sh > BuildGameLog.txt
          cat BuildGameLog.txt
          if (grep -Fxq "BUILD SUCCESSFUL" BuildGameLog.txt)
          then
              exit 0
          fi
          exit 1
    - name: BuildPlugin-ios-50
      shell: bash
      run: |
        sh build-scripts/ios-build-plugin.sh > BuildPluginLog.txt
        cat BuildPluginLog.txt
          if (grep -Fxq "BUILD SUCCESSFUL" BuildPluginLog.txt)
          then
              exit 0
          fi
          exit 1

         
